body {
    font-family: Georgia,Cambria,Verdana; /* Changed Font */
}

header {
    color: black;
    margin-right: auto;
    margin-left: auto;
    padding: 12px;
    overflow: hidden;
    background-color: none;
}
h1 {
    font-size: 5em;
    margin-right: auto;
    margin-left: 102px;
    padding: 0;
    padding-top: 10px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.3em;
}

h4 {
    font-size: 1.0em;
    margin-right: 50px;
    margin-left: 50px;
}

h5 {
    margin-left: 10px;
}

hgroup {
    width: 70%;
    float: left;
}

    hgroup h1 {
        padding-top: 0;
        line-height: 1em;
    }

    hgroup h2 {
        text-transform: uppercase;
        font-size: 1.2em;
        line-height: 1em;
    }

nav {
    width: 60%;
    float: none;
    margin-left: 100px;
}

    nav li {
        float: left;
        margin-right: 10px;
    }


    nav ul {
        list-style-type: none;
    }

section {
    width: 80%;
    background-color: #ffe0b3;
    color: black;
    margin-right: auto;
    margin-left: 100px;
    border-color: #995c00; /* Not aesthetic - Remove after  project review */
    border-style: solid;
    border-width: 1px;
    padding: 5px;
}

img {
    margin: 0px 0px 10px 10px;
    box-shadow: 3px 3px 5px 1px #4d2e00;
}

figcaption {
    margin-left: 50px;
    font-style: italic;
}

p {
    margin: 8px;
}

aside {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    font-size: .8em;
    background: #ffe6b3;
    padding: 20px;
    border: 1px solid #696;
    border-radius: 10px;
}
small {
    margin-left: 600px;
}
ListView1_itemPlaceholderContainer.element.style {
    padding-left: 50px;
    background-color: burlywood;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
